$color-bordeauxalpha: rgba(131, 1, 1, 0.9);
$color-rojoalpha: rgba(255, 0, 0, 0.452);
$color-text: rgb(238, 201, 201);

$mapacolores: (
    bordo: rgba(131, 1, 1, 0.9),
    rojo: rgba(255, 0, 0, 0.452),
    blanco: rgb(238, 201, 201),
    negro: black,
    naranja: orange,
    amarillo: yellow
);

$mapafooter: (
    servicios: #EA4C46,
    booking: #F07470,
    galeria: #EA4C46,
    aboutme: #F07470
);
