$color-bordeauxalpha: rgba(131, 1, 1, 0.9);
$color-rojoalpha: rgba(255, 0, 0, 0.452);
$color-text: rgb(238, 201, 201);

$mapacolores: (
    bordo: rgba(131, 1, 1, 0.9),
    rojo: rgba(255, 0, 0, 0.452),
    blanco: rgb(238, 201, 201),
    negro: black,
    naranja: orange,
    amarillo: yellow,
    griscss: #212529
);

$mapafooter: (
    servicios: #ea4b4636,
    booking: #ea4b4636,
    galeria: #ea4b4636,
    aboutme: #ea4b4636
);
